#webpack-dev-server-client-overlay {
    display: none;
}

html, body, div {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

body {
    padding-top: constant(safe-area-inset-top);
    padding-right: constant(safe-area-inset-right);
    padding-bottom: constant(safe-area-inset-bottom);
    padding-left: constant(safe-area-inset-left);
    padding-top: env(safe-area-inset-top);
    padding-right: env(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    background: #000;
}

.game {
    position: fixed;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    -webkit-overflow-scrolling: touch;
}
.game canvas {
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* 全螢幕 */
.fullscreen {
    visibility: hidden;
    width: 100vw;
    height: 250vh;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7) no-repeat;
    background-position: center 5%;
    background-size: 25%;
    overflow-x: hidden;
}
