<!DOCTYPE html>
<html lang="en"
    data-rev="<%= htmlWebpackPlugin.options.rev %>"
    data-tag="<%= htmlWebpackPlugin.options.tag %>"
>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title><%= htmlWebpackPlugin.options.title %></title>
        <link rel="stylesheet" href="css/layout.css">
    </head>

    <body>
        <div id="game" class="game"></div>
    </body>
</html>
